name = "project-dashboard"
main = "src/index.js"
compatibility_date = "2024-01-01"

[site]
bucket = "./public"

[[d1_databases]]
binding = "DB"
database_name = "project-dashboard-db"
database_id = "f2b0a9e3-cffc-49c9-b0e8-91a982e5a71c"
